<div class="new-order-container">
  <div>
    <p></p>
    <div class="order-field-container">
      <span>Company: </span>
      <div class="new-order-field-container">
        <input type="text" [(ngModel)]="order.company" class="new-order-field" />
      </div>
    </div>

    <p></p>
    <div class="order-field-container">
      <span>Customer Name: </span>
      <div class="new-order-field-container">
        <input type="text" [(ngModel)]="order.customer" class="new-order-field" />
      </div>
    </div>

    <p></p>
    <div class="order-field-container">
      <span>Minister Name: </span>
      <div class="new-order-field-container">
        <input type="text" [(ngModel)]="order.minister" class="new-order-field" />
      </div>
    </div>

    <p></p>
    <div class="order-field-container">
      <span>Email: </span>
      <div class="new-order-field-container">
        <input type="text" [(ngModel)]="order.email" class="new-order-field" />
      </div>
    </div>
  </div>
  <div class="manage-container">
    <button (click)="onAdd()">Add</button>
  </div>
</div>
